${memberHeader}
<div class="card-title">
  <h4>${recipe.title}</h4>
</div>
<div class="card-image-div">
  <img class="card-image" src="/images/image0${recipe.id}.jpg">
</div>

<div class="ingredients">
  <h4 class="i-title">Ingredients</h4>
  <ul class="i-list">
    ${ingredients.map(i => `<li>${i}</li>`).join('')}
  </ul>
</div>
<div class="prep">
  <h4 class="prep-title">Preparation</h4>
  <ul class="prep-list">
    ${preparation.map(p => `<li>${p}</li>`).join('')}
  </ul>
</div>

<script src="/scripts/recipe-card.js"></script>

${memberFooter}
