* {
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

element.style {
  opacity: 0;
}

body {
  margin: 0;
}

.comments-component {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgba(234, 236, 236, 0.863);
  border-radius: 10px;
  padding: 20px 10px;
  margin: auto;
  max-width: 850px;
}

@media screen and (max-width:850px) {
  .comments-component {
    margin: 10px;
  }
}

.comments-body {
  text-align: center;
}

.comment-card2 {
  max-width: 830px;
  border: 1px solid gray;
  background-color: rgba(221, 224, 224, 0.781);
  padding: 5px;
  margin: 5px;
}

.form-control {
  min-width: 325px;
  min-height: 70px;
  padding: 5px;
  margin: 5px;
}

.comments-button {
  transition-duration: 0.4s;
  background-color: rgb(255, 99, 71);
  padding: 4px;
  border: 1px solid gray;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.comments-button:hover {
  background-color: rgb(219, 88, 65);
  color: white;
}

.container1 {
  background: url("./images/spread.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0px;
}
.container1 background {
  opacity: 1;
}

.page-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  position: relative;
  z-index: 2;
}

.card > div {
  height: 380px !important;
}

.card {
  height: 500px !important;
}

.slider-control-bottomcenter {
  bottom: -15px !important;
}

.slider-control-bottomcenter > ul > li > button {
  color: salmon !important;
}

img {
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

button[aria-label="previous"],
button[aria-label="next"] {
  visibility: hidden;
  background: salmon !important;
  color: black !important;
}

.page-heading h1 {
  font-size: 5rem;
  color: #fff;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 20px;
  border-radius: 2px;
}

h2 {
  display: inline-block;
  margin-right: 10px !important;
  text-align: center !important;
}

.register-here {
  padding: 10px;
}

.cardtitle {
  /* display: inline-block; */
  text-align: center;
  margin-right: 10px !important;
}

h2:nth-of-type(2) {
  opacity: 0.7;
  font-size: 1.35rem;
  text-align: center !important;
}

h5 {
  margin-top: -15px !important;
  margin-left: 2px !important;
  color: lightgray;
}
h5:last-of-type {
  color: darkgray;
}

#deckroot {
  margin: 0;
  padding: 0;
  background: salmon;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      30 30,
    auto; */
}

#deckroot > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

#deckroot > div > div {
  padding: 10px;
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 300px;
  max-width: 300px;
  height: 550px;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
}
circle {
  visibility: hidden;
}


.login-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  /* margin-top: 15%; */
  position: relative;
  top: 25%;
}

.login-card {
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  opacity: 75%;
  position: relative;
}

.PageTitle {
  text-align: center !important;
}
form {
  flex: auto;
  background: none !important;
  text-align: center !important;
}

.myrecipes {
  margin-top: 1rem;
  background-color: salmon;
}

.logout-div {
  top: 15%;
  display: flex;
  justify-content: center;
  position: relative;
}
.logout-button {
  display:flex;
  position: absolute
}

.reg-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 25%;
}

.reg-card {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 75%;
    position: relative;
    display: inline-block;
}